SECRET_KEY=замени-на-50-символьную-случайную-строку

DB_NAME=suppliergraph
DB_USER=postgres
DB_PASSWORD=твой_пароль_postgres
DB_HOST=localhost
DB_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379/0

ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_DEBUG=false

OPENROUTER_API_KEY=sk-or-v1-...
GOSZAKUP_TOKEN=
